<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="Management system." />
    <meta name="keywords" content="Management system" />
    <meta name="robots" content="noindex, nofollow">
    <meta name="author" content="ntc" />
    <meta name="google" content="notranslate">
    <title><%= settings.title %> | <%= title %></title>
    <link rel="stylesheet" href="<%= baseUrl %>/assets/plugins/tables/css/datatable/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="<%= baseUrl %>/assets/plugins/jquery.treetable/jquery.treetable.css" />
    <link rel="stylesheet" href="<%= baseUrl %>/assets/plugins/jquery.treetable/jquery.treetable.theme.default.css" />
    <link rel="stylesheet" href="<%= baseUrl %>/assets/plugins/toastr/css/toastr.min.css" />
    <link rel="stylesheet" href="<%= baseUrl %>/assets/plugins/sweetalert2/sweetalert2.min.css" />
    <link rel="stylesheet" href="<%= baseUrl %>/assets/plugins/bootstrap-material-datetimepicker/css/bootstrap-material-datetimepicker.css" />
    <link rel="stylesheet" href="<%= baseUrl %>/assets/css/app.css" />
    <link rel="stylesheet" href="<%= baseUrl %>/assets/css/custom.css" />
    <link rel="stylesheet" href="<%= baseUrl %>/assets/css/theme1.css" />
</head>
