<div class="mobile-menu md:hidden">
    <div class="mobile-menu-bar">
        <a href="/" class="flex mr-auto">
            <img class="w-8 m-5 mr-2" src="https://files.sitestatic.net/ImageFile/61e67190e76e8_ams_fav.png" draggable="false" />
            <span class="text-2xl font-medium m-5"> <%= __('sidebar.title') %>  </span>
        </a>
        <a href="javascript:;" id="mobile-menu-toggler">
            <div class="side_menu rotate_menu"></div>
        </a>
    </div>
    <ul class="border-t border-theme-24 py-5 hidden">
        <% if (session.auth.role != 100) { %>
        <li>
            <a href="<%= baseUrl %>/dashboard" class="menu" id="menu-1">
                <div class="menu__icon"></div>
                <div class="menu__title"><%= __('sidebar.dashboard') %></div>
            </a>
        </li>
        <% } %>
        <li>
            <a href="javascript:;" class="menu" id="menu-2">
                <div class="menu__icon"></div>
                <div class="menu__title">
                    <%= __('sidebar.agent') %>
                    <i data-feather="chevron-down" class="menu__sub-icon"></i>
                </div>
            </a>
            <ul>
                <li>
                    <a href="/agent/manage" class="menu">
                        <div class="side-menu__icon"></div>
                        <div class="menu__title"><%= __('sidebar.agent_manage') %></div>
                    </a>
                </li>
                <% if(session.auth.role != 100) { %>
                <li>
                    <a href="/agent/exchange_history" class="menu">
                        <div class="side-menu__icon"></div>
                        <div class="menu__title"><%= __('sidebar.agent_exchange_history') %></div>
                    </a>
                </li>
                <li>
                    <a href="/agent/balance_history" class="menu">
                        <div class="side-menu__icon"></div>
                        <div class="menu__title"><%= __('sidebar.agent_balance_history') %></div>
                    </a>
                </li>
                <% } %>
                <% if (session.auth.role == 1) { %>
                <li>
                    <a href="/agent/action_history" class="menu">
                        <div class="side-menu__icon"></div>
                        <div class="menu__title"><%= __('sidebar.agent_balance_history') %></div>
                    </a>
                </li>
                <% } %>
            </ul>
        </li>
        <% if(session.auth.role != 100) { %>
        <li>
            <a href="javascript:;" class="menu" id="menu-3">
                <div class="menu__icon"></div>
                <div class="menu__title">
                    <%= __('sidebar.user') %>
                    <i data-feather="chevron-down" class="menu__sub-icon"></i>
                </div>
            </a>
            <ul>
                <li>
                    <a href="/user/manage" class="menu">
                        <div class="side-menu__icon"></div>
                        <div class="menu__title"><%= __('sidebar.user_manage') %></div>
                    </a>
                </li>
                <li>
                    <a href="/user/exchange_history" class="menu">
                        <div class="side-menu__icon"></div>
                        <div class="menu__title"><%= __('sidebar.user_exchange_history') %></div>
                    </a>
                </li>
                <li>
                    <a href="/user/balance_history" class="menu">
                        <div class="side-menu__icon"></div>
                        <div class="menu__title"><%= __('sidebar.user_balance_history') %></div>
                    </a>
                </li>
                <li>
                    <a href="/user/game_transaction" class="menu">
                        <div class="side-menu__icon"></div>
                        <div class="menu__title"><%= __('sidebar.user_transaction_history') %></div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="javascript:;" class="menu" id="menu-15">
                <div class="menu__icon"></div>
                <div class="menu__title">
                    Providers
                    <i data-feather="chevron-down" class="menu__sub-icon"></i>
                </div>
            </a>
            <ul>
                <li>
                    <a href="/provider" class="menu">
                        <div class="side-menu__icon"></div>
                        <div class="menu__title"><%= __('sidebar.provider') %></div>
                    </a>
                </li>
            </ul>
        </li>
        <li>
            <a href="/message" class="menu" id="menu-6">
                <div class="menu__icon"></div>
                <div class="menu__title"><%= __('sidebar.message') %></div>
            </a>
        </li>
        <% if(session.auth.role == 1) { %>
        <li>
            <a href="/checkup" class="menu" id="menu-7">
                <div class="menu__icon"></div>
                <div class="menu__title"><%= __('sidebar.checkup') %></div>
            </a>
        </li>
        <li>
            <a href="/popup" class="menu" id="menu-8">
                <div class="menu__icon"></div>
                <div class="menu__title"><%= __('sidebar.popup') %></div>
            </a>
        </li>
        <% } %>
        <li>
            <a href="/docs" class="menu" id="menu-9">
                <div class="menu__icon"></div>
                <div class="menu__title"><%= __('sidebar.api_docs') %></div>
            </a>
        </li>
        <% } %>
    </ul>
</div>
