<!DOCTYPE html>
<html lang="en" id="themeMode" class="light">
    <!-- header -->
    <%- include('../shared/header.ejs', {title: `Games List - ${provider_code.provider}` }) -%>
    <body class="app">
        <!-- preloader -->
        <%- include('../shared/preloader.ejs') -%>

        <!-- mobile menu -->
        <%- include('../shared/mobile.ejs') -%>

        <div class="flex">
            <!-- sidebar -->
            <%- include('../shared/sidebar.ejs') -%>

            <div class="content">
                <!-- topbar -->
                <%- include('../shared/topbar.ejs') -%>

                <!-- main content here -->
                <div class="grid grid-cols-12 gap-6">
                    <div class="col-span-12 xxl:col-span-12 grid grid-cols-12 gap-6">
                        <div class="col-span-12 mt-2">
                            <div class="intro-y flex items-center h-10">
                                <h2 class="text-lg font-medium truncate mr-5">Game List | <%= provider_code.provider %></h2>
                                <a href="" class="ml-auto flex text-theme-1 dark:text-theme-10">
                                    <i data-feather="refresh-ccw" class="w-4 h-4 mr-3"></i> <%= __('common.reload') %>
                                </a>
                            </div>

                            <div class="col-span-12 intro-y box mt-2 p-5">
                                <div>
                                    <div class="col-12">
                                        <div id="card-loading" style="display: none;">
                                            <div class="center"><i data-loading-icon="ball-triangle" class="w-8 h-8"></i></div>
                                        </div>
                                        <div class="card border-primary">
                                            <div class="card-body">
                                                <div class="card-header flex justify-between items-center">
                                                    <div style="font-size: 14px">
                                                        <span class="text-theme-2">Game List | <%= provider_code.provider %></span>
                                                        <span class="text-theme-2" id="provider-count">(0)</span>
                                                    </div>
                                                </div>
                                                <div class="w-full border-t border-gray-200 dark:border-dark-5 mt-2"></div>
                                                <div class="card-body">
                                                    <div>
                                                        <div class="col-sm-12">
                                                            <div class="table-scrollable">
                                                                <div class="table-responsive">
                                                                    <table id="provider-datatable" class="table table-striped table-bordered"></table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- update provider modal -->
                                <div class="modal" id="update-provider-modal">
                                    <div class="modal__content">
                                        <div class="flex items-center px-5 py-5 sm:py-3 border-b border-gray-200 dark:border-dark-5">
                                            <h2 class="font-medium text-base mr-auto" id="update-provider-action" hasanswer="false">
                                                Game List Update
                                            </h2>
                                        </div>
                                        <form id="update-provider-form">
                                            <div class="p-5 grid grid-cols-12 gap-4 row-gap-3">
                                                <input type="text" id="update-provider-id" style="display: none" />
                                                <div class="col-span-12 sm:col-span-12">
                                                    <label>Provider Name</label>
                                                    <input id="update-provider-name" type="text" class="input w-full border mt-2 flex-1" disabled/>
                                                </div>
                                                <div class="col-span-12 sm:col-span-12">
                                                    <label><%= __('provider.update_modal.provider_code') %></label>
                                                    <input id="update-provider-code" type="text" class="input w-full border mt-2 flex-1" disabled/>
                                                </div>
                                                <div class="col-span-12 sm:col-span-12">
                                                    <label>Game Name</label>
                                                    <input id="update-game-name" type="text" class="input w-full border mt-2 flex-1" disabled/>
                                                </div>
                                                <div class="col-span-12 sm:col-span-12">
                                                    <label>Game Code</label>
                                                    <input id="update-game-code" type="text" class="input w-full border mt-2 flex-1" disabled/>
                                                </div>
                                                <div class="col-span-12 sm:col-span-12">
                                                    <label>Game Images</label>
                                                    <textarea id="update-game-image" placeholder="" class="input w-full border mt-2 flex-1" rows="2"></textarea>
                                                </div>
                                                <div class="col-span-12 sm:col-span-12">
                                                    <label>Sequence</label>
                                                    <input id="update-game-seq" type="number" class="input w-full border mt-2 flex-1"/>
                                                </div>
                                                <div class="col-span-12 sm:col-span-12">
                                                    <label>Game Type</label>
                                                    <input id="update-game-type" type="text" class="input w-full border mt-2 flex-1" disabled/>
                                                </div>
                                            </div>
                                        </form>
                                        <div class="px-5 py-3 text-right border-t border-gray-200 dark:border-dark-5">
                                            <button
                                                type="button"
                                                id="update-provider-confirm-btn"
                                                onclick="handleUpdateProvider()"
                                                class="button w-20 bg-theme-1 text-white"
                                            >
                                                <%= __('provider.update_modal.confirm') %>
                                            </button>
                                            <button
                                                type="button"
                                                class="button w-20 border text-gray-700 dark:border-dark-5 dark:text-gray-300 mr-1"
                                                data-dismiss="modal"
                                            >
                                                <%= __('provider.update_modal.cancel') %>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- footer -->
        <%- include('../shared/footer.ejs') -%>

        <!-- global -->
        <%- include('../shared/global.ejs') -%>

        <script>
            let providerTable;
            let sessionAgentRole = `<%= session.auth.role %>`;
            let sessionAgentId = `<%= session.auth.uuid %>`;
            let providerCode = `<%= provider_code.provider %>`;
            let providerType = `<%= provider_code.id %>`;
            let allProviderInfoList = [];

            function drawTable() {
                $('#card-loading').show();
                if (providerTable) {
                    providerTable.ajax.reload();
                } else {
                    providerTable = $("#provider-datatable").DataTable({
                        ...dataTableGlobalConfig,
                        order: [[2, "desc"]],
                        columns: [
                        { title: `<%= __('provider.table.no') %>`, data: "no", width: "60px", orderable: false },
                        { title: `<%= __('provider.table.provider_code') %>`, data: "provider_code",orderable: false },
                        { title: `Game Name`, data: "game_name", orderable: false },
                        { title: `Game Code`, data: "game_code", orderable: false },
                        { title: `Game Image`, data: "game_image",orderable: false },
                        { title: `Game Type`, data: "game_type", orderable: false },
                        { title: `ProviderID`, data: "product_id", orderable: false },
                        { title: `Status`, data: "status", width: "70px", orderable: false },
                        { title: `<%= __('provider.table.action') %>`, data: "action", width: "120px", orderable: false }
                        ],
                        ajax: {
                            url: `/api/provider/${providerCode}/gameList/${providerType}`,
                            type: "GET",
                            data: function (data) {
                                data.search = data.search.value;
                                data.dir = data.order[0].dir;
                                data.order = 'status';

                                delete data.columns;
                            },
                            dataSrc: function (res) {
                                if (res.data) {
                                    for (let i = 0; i < res.data.length; i++) {
                                        res.data[i].no = Number(i + 1) + Number(res.start);
                                        res.data[i].provider_code = res.data[i].provider_code;
                                        res.data[i].game_name = res.data[i].game_name;
                                        res.data[i].game_code = res.data[i].game_code;
                                        res.data[i].game_image = `<div style="width: 30px; height: 30px; background-image: url('${res.data[i].game_image}'); background-size: cover; background-position: center; border-radius: 8px; margin-left: auto; margin-right: auto;" draggable="false"></div>`;
                                        res.data[i].game_type = res.data[i].game_type;
                                        res.data[i].product_id = res.data[i].product_id;
                                        res.data[i].status = `<input type="checkbox" class="input input--sm input--switch border" ${res.data[i].status == 1 ? `checked="checked"` : `` } disabled>`;

                                        let actionHtml = "";
                                        actionHtml += `<button class="button button--sm inline-block  border border-theme-1 text-theme-14 dark:border-theme-1 dark:text-theme-1 mr-1" onclick="handleLaunchGame(${res.data[i].id})">Play Game</button>`;
                                        if (sessionAgentRole == 1) {
                                            actionHtml += `<button class="button button--sm inline-block  border border-theme-12 text-theme-12 dark:border-theme-1 dark:text-theme-1 mr-1" onclick="handleUpdateProviderModal(${res.data[i].id})">Update</button>`;
                                        }

                                        res.data[i].action = actionHtml;

                                        allProviderInfoList.push({
                                            endpoint: res.data[i].endpoint,
                                            code: res.data[i].code,
                                        });
                                    }

                                    $("#provider-count").html(`(${res.recordsTotal})`);
                                    $('#card-loading').fadeOut();
                                }

                                return res.data;
                            },
                        },
                    });
                }
            }

            function validateUpdate(data) {
                if (data.game_image == "") {
                    $("#update-game-image").focus();
                    showToast("warning", "Game image required");
                    return false;
                }

                if (data.sequence < 1) {
                    $("#update-game-seq").focus();
                    showToast("warning", "Sequence");
                    return false;
                }

                return true;
            }

            function handleUpdateProviderModal(id) {
                resetForm("update-provider-form");

                $.ajax({
                    type: "POST",
                    url: `/api/provider/${id}/game_list`,
                    success: function (res) {
                        const data = det(res.result);
                        if (res.status) {
                            $("#update-provider-id").val(data.id);
                            $("#update-provider-name").val(data.provider);
                            $("#update-provider-code").val(data.provider_code);
                            $("#update-game-code").val(data.game_code);
                            $("#update-game-name").val(data.game_name);
                            $("#update-game-image").val(data.game_image);
                            $("#update-game-type").val(data.game_type);
                            $("#update-game-seq").val(data.sequence);

                            cash("#update-provider-modal").modal("show");
                        }
                    },
                });
            }

            function handleUpdateProvider() {
                let requestData = {};

                requestData.game_image = $("#update-game-image").val();
                requestData.sequence = $("#update-game-seq").val();

                if (!validateUpdate(requestData)) {
                    return;
                }

                let updateProviderId = $("#update-provider-id").val();

                $("#update-provider-confirm-btn").attr("disabled", true);

                $.ajax({
                    type: "PUT",
                    url: `/api/provider/${updateProviderId}/game`,
                    data: requestData,
                    success: function (res) {
                        if (res.status) {
                            showToast("success", "<%= __('message.success') %>");
                            cash("#update-provider-modal").modal("hide");
                            drawTable();
                        }
                        $("#update-provider-confirm-btn").removeAttr("disabled");
                    },
                    error: function () {
                        $("#update-provider-confirm-btn").removeAttr("disabled");
                    },
                });
            }


            function handleLaunchGame(id) {
                $('#card-loading').show();
                let requestData = {};
                requestData.id = id;
                requestData.agent = sessionAgentId;
                $.ajax({
                    type: "POST",
                    url: `/api/provider/start_game`,
                    data: requestData,
                    success: function (res) {
                        if (res.status) {
                            showToast("success", "<%= __('message.success') %>");
                            popitup(res.gameUrl);
                            drawTable();
                        } else {
                            showToast("error", res.msg);
                            drawTable();
                        }
                    },
                });
            }


            $("#menu-15").addClass("side-menu--active");
            $("#menu-15 + ul").addClass("side-menu__sub-open");

            drawTable();
        </script>
    </body>
</html>
