$("#menu-2").addClass("side-menu--active");
$("#menu-2 + ul").addClass("side-menu__sub-open");

const today = new Date();
const year = today.getFullYear();
const month = today.getMonth();

const startDate = moment(new Date(year, month, 1)).format("YYYY/MM/DD");
const endDate = moment(new Date(year, month + 1, 0)).format("YYYY/MM/DD");
const initialDate = `${startDate} - ${endDate}`;

$("#agent-money-balance-period").val(initialDate);

let sessionAuthId = `<%= session.auth.uuid %>`;
let agentBalanceHistoryTable;

function getAgentsFunc() {
  $.ajax({
    type: "POST",
    url: `/api/agent/${sessionAuthId}/child`,
    data: {},
    dataType: "json",
    success: function(res) {
      if (res.status == 1) {
        let optionStr = "";
        const data = det(res.child);

        optionStr += "<option value='all'><%= __('agent_balance_history.all_agent') %></option>";

        for (let i = 0; i < data.length; i++) {
          optionStr += `<option value='${data[i].agentCode}'>${data[i].agentCode}</option>`;
        }

        $("#agent-balance-history-select").html(optionStr);
        tail.select("#agent-balance-history-select", {
          search: true,
          width: 160,
          locale: "<%= session.locale %>"
        });
        showToast;
        drawTable();
      }
    },
  });
}

function drawTable() {
  $('#card-loading').show();
  if (agentBalanceHistoryTable) {
    agentBalanceHistoryTable.ajax.reload();
  } else {
    agentBalanceHistoryTable = $("#agent-balance-history-datatable").DataTable({
      ...dataTableGlobalConfig,
      order: [
        [4, "desc"]
      ],
      columns: [{
          title: "<%= __('agent_balance_history.table.no') %>",
          data: "no",
          width: "60px",
          orderable: false
        },
        {
          title: "<%= __('agent_balance_history.table.agent_code') %>",
          data: "agentCode"
        },
        {
          title: "<%= __('agent_balance_history.table.agent_balance') %>",
          data: "agentBalance"
        },
        {
          title: "<%= __('agent_balance_history.table.comment') %>",
          data: "comment"
        },
        {
          title: "<%= __('agent_balance_history.table.created_at') %>",
          data: "createdAt",
          width: "160px"
        },
      ],
      beforeSend: function() {
        $("#card-loading").show();
      },
      complete: function() {
        $("#card-loading").fadeOut();
      },
      ajax: {
        url: "/api/agent_balance_progress",
        type: "POST",
        data: function(data) {
          data.agentCode = $("#agent-balance-history-select").val();
          data.startDate = $("#agent-money-balance-period").val().split(" - ")[0];
          data.endDate = $("#agent-money-balance-period").val().split(" - ")[1];

          data.search = data.search.value;
          data.dir = data.order[0].dir;
          data.order = data.columns[data.order[0].column].data;
          delete data.columns;
        },
        dataSrc: function(res) {
          if (res.status == 1) {
            for (let i = 0; i < res.data.length; i++) {
              res.data[i].no = Number(i + 1) + Number(res.start);
              res.data[i].agentCode = convertString(res.data[i].agentCode, 30);
              res.data[i].agentBalance = convertNumber(res.data[i].agentBalance);
              res.data[i].comment = convertString(res.data[i].comment, 150);
              res.data[i].createdAt = convertDate(res.data[i].createdAt);
            }
            $("#agent-balance-history-count").html(`(${res.recordsTotal})`);
            $('#card-loading').fadeOut();
          }
          return res.data;
        },
      },
    });
  }
}

getAgentsFunc();