const sessionAgentId = `<%= session.auth.uuid %>`;
    let agent_role = {
      1: `<span class="text-theme-9 "><%= __('profile.change.distribution') %></span>`,
      2: `<span class="text-theme-12 "><%= __('profile.change.run') %></span>`,
      3: `<span class="text-theme-6 "><%= __('profile.change.parallel') %></span>`,
    };

    let agent_status = {
      1: `<span class="text-theme-9 "><%= __('profile.alert.open') %></span>`,
      0: `<span class="text-theme-6 "><%= __('profile.alert.close') %></span>`,
    };

    let api_method = {
      1: `<div class="text-theme-9"><%= __('profile.alert.transfer') %></div>`,
      0: `<div class="text-theme-6"><%= __('profile.alert.seamless') %></div>`,
    };

    const clipboard = new ClipboardJS("#copy_btn");

    clipboard.on("success", function(e) {
      showToast("success", e.text);
      e.clearSelection();
    });

    clipboard.on("error", function(e) {
      showToast("error", "<%= __('common.copy_error') %>");
    });

    function validateUpdate(data) {
      if (data.password.length < 5) {
        showToast("warning", "Password must be at least 5 characters long.");
        $("#agent-old-password").focus();
        return false;
      } else if (data.new_password.length < 5) {
        showToast("warning", "New Password must be at least 5 characters long.");
        $("#agent-new-password2").focus();
        return false;
      } else if (data.new_password_confirm.length < 5) {
        showToast("warning", "Password Confirm must be at least 5 characters long.");
        $("#agent-new-password3").focus();
        return false;
      } else if (data.new_password !== data.new_password_confirm) {
        showToast("warning", "<%= __('profile.password_confirm_not_match') %>");
        $("#agent-old-password").val('');
        $("#agent-new-password2").val('');
        $("#agent-new-password3").val('');
        return false;
      }

      return true;
    }

    function getMyInfo() {
      $.ajax({
        type: "POST",
        url: `/api/agent/${sessionAgentId}/details`,
        dataType: "json",
        success: function(res) {
          if (res.status) {
            const agentInfo = det(res.agent);
            if (agentInfo) {
              $("#agent-nickname").html(agentInfo.agentCode.toLocaleUpperCase());
              $("#agent-balance").html(agentInfo.currency + " " + agentInfo.balance.toLocaleString());
              $("#agent-code").html(agentInfo.agentCode);
              $("#agent-secure").val(agentInfo.secureLogin);
              $("#agent-token").val(agentInfo.secretkey);
              $("#agent-percent").html(agentInfo.percent);
              $("#agent-type").html(agent_role[agentInfo.agentType]);
              $("#agent-status").html(agent_status[agentInfo.status]);
              $("#api-type").html(api_method[agentInfo.apiType]);
            }
          }
        },
        error: function(data) {
          showToast("error", "<%= __('common.server_error') %>");
        },
      });
    }

    $("#action-btn").click(function() {
      const requestData = {
        id: $("#user_id").val(),
        password: $("#agent-old-password").val(),
        new_password: $("#agent-new-password2").val(),
        new_password_confirm: $("#agent-new-password3").val(),
      };

      if (!validateUpdate(requestData)) {
        return;
      }

      let type, url;
      type = "put";
      url = `/api/agent/${sessionAgentId}/change_password`;
      handleUpdate(type, url, requestData);
    });

    function handleUpdate(type, url, data) {
      showConfirmAlert("<%= __('profile.do_you_want_to_change') %>", function() {
        $.ajax({
          type: type,
          url: url,
          data: data,
          dataType: "json",
          success: function(res) {
            if (res.status == 0) {
              showToast("error", res.msg);
            } else {
              showToast("success", "<%= __('common.operated_successfully') %>");
              setTimeout(function() {
                location.reload();
              }, 1000);
            }
          },
          error: function(res) {
            getMyInfo();
            showToast("error", "<%= __('common.server_error') %>");
          },
        });
      });
    }

    getMyInfo();